<%- include('partials/header') %>

<main class="fixed">
  <section id="one" class="left" aria-expanded="true">
    <div class="semesters">
      <% semesters.forEach(function(semester) { %>
        <a class="semester block <%= semester.isEmpty ? 'empty' : '' %>" href="/projects/<%= semester.id %>">
          <h2 class="bold">
            <%= semester.title %>
          </h2>
          <h3>
            <% if (semester.isUpcoming) { %>
              COMING SOON &thinsp;&mdash;&thinsp; <%= semester.term %>
            <% } else { %>
              <%= semester.term %>
            <% } %>
          </h3>
        </a>
      <% }); %>
    </div>
  </section>
  <section id="two" class="right" aria-expanded="false">
    <% if (initialProject && initialStudent) { %>
      <%- include('partials/reload_container', { project: initialProject, student: initialStudent }) %>
    <% } %>
  </section>
</main>

<%- include('partials/footer') %>
